$nav-bg-color: #161616;
$nav-fg-color: white;

$text-primary-color: #5d5d5d;
$text-heading-color: black;

$bg-primary-color: white;
$bg-secondary-color: #E1E1E1;

$card-bg-color: white;

$button-fg-color: white;

$arrow-bg-color: #292929;

$footer-bg-color: #2A2A2A;
$footer-fg-color: #9b9b9b;
