@import "../themes/theme";

.button {
  $transition-duration: 0.15s;
  $hover-bg: rgb(95%, 95%, 95%);
  $hover-fg: rgb(20%, 20%, 20%);
  $gray: rgb(50%, 50%, 50%);

  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 0.6em 2em;
  transition: all $transition-duration;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $button-fg-color;
  border-radius: 3em;
  background-color: transparent;
  mix-blend-mode: hard-light;

  &:link, &:visited {
    color: $button-fg-color;
  }

  &:hover, &:focus {
    color: $hover-fg;
    border-color: $hover-bg;
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transition: top $transition-duration;
    transform: scale(1);
    background-color: $hover-bg;
  }

  &:hover::before, &:focus::before {
    top: 0;
  }
}
