@import "../themes/theme";

.button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  color: $button-fg-color;
  border: 2px solid $button-fg-color;
  text-decoration: none;
  border-radius: 3em;
}
