@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito+Sans:300,400&display=swap');

@import "base/typography";
@import "layout/header";
@import "layout/navigation";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato Regular', sans-serif;
  color: $text-primary-color;
}
