@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito+Sans:300,400&display=swap');

@import "vendors/font-awesome";

@import "base/typography";
@import "components/arrow";
@import "components/button";
@import "layout/about";
@import "layout/footer";
@import "layout/header";
@import "layout/navigation";
@import "layout/showcase";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato Regular', sans-serif;
  color: $text-primary-color;
}
