@import "../abstracts/variables";
@import "../themes/theme";

.footer {
  padding: 3em 3em 5em;
  color: $footer-fg-color;
  background-color: $footer-bg-color;

  .footer__container {
    max-width: 62rem;
    margin: 2em auto;
  }

  .footer__social-links {
    text-align: center;

    @media only screen and (min-width: $breakpoint-s) {
      text-align: end;
    }
  }

  .footer__links {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 2em;
  }

  .footer__column {
    flex-basis: 50%;

    @media only screen and (min-width: $breakpoint-s) {
      flex-basis: 33.33%;
    }
  }

  .footer__link-list {
    line-height: 1.5em;
    padding: 0;
    list-style: none;
  }

  .footer__link:before {
    content: "- "
  }
}

.social-link {
  font-size: 2em;
  display: inline-block;
  margin: 0.1em;
  text-decoration: none;
  color: inherit;
}
