@import "../abstracts/variables";
@import "../themes/theme";

.navigation {
  box-sizing: border-box;
  width: 100%;
  background-color: $nav-bg-color;

  .navigation__container {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: $nav-fg-color;

    @media only screen and (min-width: $breakpoint-m) {
      align-items: flex-end;
      flex-flow: row;
    }
  }

  .navigation__logo {
    font-size: 3em;
    margin: 0.8em 0 0;
    text-transform: uppercase;
    color: $nav-fg-color;
  }

  .navigation__logo-link {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0.5em;
    text-decoration: none;

    $overflow: -0.7em;

    &::before {
      position: absolute;
      top: 0;
      right: calc(100% + 0.7em);
      bottom: 0;
      left: $overflow;
      content: "";
      transition: right 0.4s;
      transform: skewX(20deg);
      background-color: white;
    }

    &:hover::before, &:focus::before {
      right: $overflow;
    }
  }

  .navigation__logo-content {
    mix-blend-mode: difference;
  }

  .navigation__links {
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $breakpoint-m) {
      margin-left: auto;
    }
  }

  .navigation__link-item {
    display: inline-block;
  }

  .navigation__link {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.8em 1em;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      transition: top 0.2s;
      background-color: $nav-fg-color;
    }

    &:hover::before, &:focus::before {
      top: 0;
    }
  }

  .navigation__link-content {
    mix-blend-mode: difference;
  }
}
