@import "../abstracts/variables";
@import "../themes/theme";

.navigation {
  display: flex;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
  padding: 2em 3em 0.8em;
  text-align: center;
  color: $nav-fg-color;
  background-color: $nav-bg-color;

  @media only screen and (min-width: $breakpoint-m) {
    align-items: flex-end;
    flex-flow: row;
  }

  .navigation__logo {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    color: $nav-fg-color;
  }

  .navigation__links {
    margin: 0 0 0.5em;
    padding: 0;

    @media only screen and (min-width: $breakpoint-m) {
      margin-left: auto;
    }
  }

  .navigation__link {
    display: inline-block;
    margin: 0.5em 1em;
  }
}
