@import "../themes/theme";
@import "../abstracts/variables";

.showcase {
  padding: 1.5em;
  background-color: $bg-secondary-color;

  .showcase__item-container {
    display: flex;
    max-width: 62rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.showcase-item {
  display: block;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 0.5em;

  @media only screen and (min-width: $breakpoint-s) {
    flex-basis: 50%;
  }

  @media only screen and (min-width: $breakpoint-m) {
    flex-basis: 33.33%;
  }

  .showcase-item__container {
    width: 100%;
    background-color: $card-bg-color;
    display: inline-block;
  }

  .showcase-item__image {
    width: 100%;
    height: 14em;
    object-fit: cover;
  }

  .showcase-item__content {
    margin: 1em 1em 3em;
  }

  .showcase-item__title {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22rem;
  background: right / cover no-repeat url("img/5642_Hejrelunden_(20).jpg");
}
