@import "../themes/theme";
@import "../abstracts/variables";

.showcase {
  padding: 1.5em;
  background-color: $bg-secondary-color;

  .showcase__item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $max-page-width;
    margin: 0 auto;
  }
}

.showcase-item {
  display: block;
  flex-basis: 100%;
  box-sizing: border-box;
  height: 24.5em;
  padding: 0.5em;
  background-color: transparent;

  @media only screen and (min-width: $breakpoint-s) {
    flex-basis: 50%;
  }

  @media only screen and (min-width: $breakpoint-m) {
    flex-basis: 33.33%;
  }

  .showcase-item__container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  &:hover .showcase-item__container, .showcase-item__container.hover {
    transform: rotateY(180deg);
  }

  .showcase-item__side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .showcase-item__front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: $card-front-bg-color;
  }

  .showcase-item__back {
    display: flex;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
    padding: 1em 1em 3em;
    transform: rotateY(180deg);
    color: $text-light-color;
    background-color: #333;

    @supports (background-blend-mode: overlay) {
      background-position: center;
      background-size: cover;
      background-blend-mode: overlay;
    }
    // Remove background image on browsers not supporting background-blend-mode (Edge, IE, etc.)
    @supports not (background-blend-mode: overlay) {
      background-image: none !important;
    }

    .showcase-item__title {
      text-align: center;
    }
  }

  .showcase-item__buy-button {
    display: inline-block;
    margin-top: auto;
  }

  .showcase-item__image {
    width: 100%;
    height: 14em;
    object-fit: cover;
  }

  .showcase-item__content {
    margin: 1em 1em 3em;
  }

  .showcase-item__title {
    margin-bottom: 0;
    text-transform: uppercase;

    &--light {
      color: $text-light-color;
    }
  }
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 22rem;
  padding: 2em;
  text-align: center;
  background: right / cover no-repeat url("img/5642_Hejrelunden_(20).jpg");

  .show-more__button {
    background-color: rgba(#000, 0.3);
  }
}
