mixin about()
  section.about
    h2.about__heading ..det naturlige valg af livstil
    div.about__text
      p
        | Natual Living har i mange år leveret løsninger der bringer mennesker tættere på naturen. Duften af træ og
        | udsyn til den blå himmel. Der er masser af inspiration at hente i naturen.
      p
        | Fritidshuse i smukt og harmonisk design til familier, der ønsker kvalitet og med et design, der giver en flot
        | indretning og udseende. Vi har markedets billigste huse, uden at gå på kompromis med kvaliteten.
      p
        | Vi leverer kvalitetsmaterialier og sætter stor ære i at finde det rigtige træhus med den rigtige indretning
        | der passer til familiens behov -både som bjælkesommerhus eller anden type fritidshus.
      p
        | De langsomtvoksende, skandinaviske fyrtræer bliver bearbejdet på nordiske fabrikker efter mange hundrede års
        | byggetraditioner, og resultatet bliver smukke bjælker, der er grundstammen i dit træhus.
