mixin footer()
  footer.footer.arrow
    div.footer__container
      div.footer__social-links
        a(href="#").social-link.fab.fa-facebook-square
        a(href="#").social-link.fab.fa-pinterest-square
        a(href="#").social-link.fab.fa-instagram
      section.footer__links
        div.footer__column
          ul.footer__link-list
            li
              a(href="#").footer__link Fritidshus
            li
              a(href="#").footer__link Anneks
            li
              a(href="#").footer__link Pavillion
            li
              a(href="#").footer__link Træhus
            li
              a(href="#").footer__link Kolonihavehus
        div.footer__column
          ul.footer__link-list
            li
              a(href="#").footer__link Kontakt os
            li
              a(href="#").footer__link Ledige stillinger
            li
              a(href="#").footer__link Natual Living
        div.footer__column
          p
            | Natual Living #[br]
            | Fyrrevej 1235#[br]
            | 8455 Træhuse
          p Mail: #[a info@natual.dk]
          p Tlf: 98989854
