mixin header()
  header.header
    img.header__image(src="img/2010-hus-i-træ.jpg" alt="Natual Living")
    nav.navigation
      h1.navigation__logo Natual Living
      ul.navigation__links
        li.navigation__link-item
          a.navigation__link(href="#") Små træhuse
        li.navigation__link-item
          a.navigation__link(href="#") Byg Selv
        li.navigation__link-item
          a.navigation__link(href="#") Kontakt
