mixin header()
  header.header
    img.header__image(src="img/2010-hus-i-træ.jpg")
    nav.navigation
      h1.navigation__logo Natual Living
      ul.navigation__links
        li.navigation__link Små træhuse
        li.navigation__link Byg Selv
        li.navigation__link Kontakt
